{% extends "Home/home.html.twig" %}

{% block body %}

    <div style="text-align: center; margin-top: 20%">
        <a href="{{ path('home') }}">
            <button type="submit">Back to Home</button>
        </a>

        <h1>{{ team.title }}</h1>
        {% for mrProject in arrayOfMR %}
            {% for mr in mrProject  %}

            Projet : {{ projects[mr.project_id].name }}
                Nom de la mr : {{ mr.title }}

            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}